<!-- THIS MAKES THES PAGE LOOK INCOMPLETE AND INNOCENT BUT FEEL FREE TO SET PAGE WHATEVER YOU WANT ++ IMPORTANT - MAKE SURE TO REMOVE COMMENTS IF '
    YOU PLAN ON USING THESE-->
<html>
    <style>
        body{
            position:absolute;
            background-color: black;
        }
        
        h1{
            color: white;
            position:absolute;
        }
        
    </style>
    <body>
        <!-- THIS MAKES THES PAGE LOOK INCOMPLETE AND INNOCENT BUT FEEL FREE TO SET PAGE WHATEVER YOU WANT-->
        <h1>WELCOME TO E-ZONE == UNDER CONSTRUCTION</h1>
    </body>
</html>
